* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #ff6702;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 70dvw;
  min-height: calc(100vh - 4rem);
  margin: 0 15dvw;
  padding: 2rem 0;
  background-color: white;
}

#inputArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

button {
  width: 5rem;
  margin: auto;
  border-color: #ff6702;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff6702;
  color: white;
}

button:active {
  transform: scale(0.95);
  border-color: #a74301;
  background-color: #a74301;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

th {
  padding: 0.5rem;
  border-bottom: solid;
}

.even {
  background-color: #ffcdac;
}

table {
  border: solid;
}

@media (max-width: 768px) {
  main {
    width: 90vw;
    margin: 0 5vw;
  }

  #inputArea {
    width: 80%;
  }
}
